################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SmallNotesApplication/obj
/SmallNotesApplication/bin/Debug
/SmallNotesApplication/.vs/SmallNotesApplication/v16
/MelodyServerConsoleApp/obj
/MelodyServerConsoleApp/bin/Debug
/MelodyServerConsoleApp/.vs/MelodyServerConsoleApp/v16
/QuoteWindowsApplication/obj
/QuoteWindowsApplication/bin/Debug
/QuoteWindowsApplication/.vs/QuoteWindowsApplication/v16
/QuoteWindowsApplication/XmlExternalEntity.pptx___
vf
/QuoteWindowsApplication/.vs/QuoteWindowsApplication/v15
/ExplorerPathManager/.vs/ExplorerPathManager/v15
/ExplorerPathManager/ExplorerPathManager/bin/Debug
/ExplorerPathManager/ExplorerPathManager/obj/Debug
/ExplorerPathManager/packages/NLog.4.7.2
